.topicpath-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	@include pc() {
		width: 1360px;
		margin: 20px auto 0;
	}
	@include tablet() {
		width: auto;
		padding: 0 4%;
	}
	@include sp() {
		width: auto;
		margin-top: 10px;
		padding: 0 4%;
	}
}

.topicpath-item {
	position: relative;
	margin-right: 33px;
	@include sp() {
		line-height: 1.5;
	}

	a {
		color: #21ADBC;
		font-weight: bold;

    &:before,
    &:after {
      content: "";
      position: absolute;
      right: -24px;
      height: 1px;
      background-color: #21ADBC;
    }
    &:before {
      bottom: 3px;
      width: 16px;
			@include sp() {
				bottom: 6px;
			}
    }
    &:after {
      bottom: 6px;
      width: 7px;
			transform: rotate(45deg);
			@include sp() {
				bottom: 9px;
			}
    }
	}

	&:last-child {
		a {
			color: inherit;

			&:before,
			&:after {
				content: none;
			}
		}
	}
}