<footer class="l-footer">
<div class="l-footer__inner">

<div class="l-footer__left">
<p class="l-footer__logo"><a href="https://mieru-ca.com/" target="_blank" rel="noopener"><img src="https://mieru-ca.com/resources/images/common/logo.png" alt="MIERUCA"></a></p>
<p class="l-footer__text">SEO流入増。オンラインで商談・問い合わせ増加を達成。<br class="is-pc">
1,500社が利用するコンテンツマーケ・オウンドメディア・<br class="is-pc">
SEO対策分析サービス</p>
</div>

<div class="l-footer__right">
<div class="l-footer__info">
<p class="l-footer__info__text">ご相談はお電話でもお気軽にどうぞ</p>
<p class="l-footer__info__time"><span>受付時間</span>平日 午前 9:30 - 午後18:30</p>
<div class="l-footer__info__btn">
<a href="https://fabercompany.satori.site/seminar-information" target="_blank" rel="noopener">▶ ウェビナー開催中</a>
<a href="https://mieru-ca.com/download/" target="_blank" rel="noopener">▶ お役立ち資料</a>
</div>
</div>

<p class="l-footer__tel"><span><i class="fa fa-phone" aria-hidden="true"></i></span><a href="tel:050-3645-7921">050-3645-7921<small>(03-5545-5230)</small></a></p>
</div>

</div>
</footer>

<p class="p-pageTop js-pageTop" data-js="pageTop">&nbsp;</p>

</body>
</html>
