<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<meta name="description" content="片山＆前田のSNS情報はこちら！Webマーケティングのご相談、雑談、飲み会のお誘い、お待ちしております。ミエルカサービスの一覧（全７種）のご紹介も、併せてご覧ください。御社のWeb集客を徹底支援いたします。">
<meta name="keywords" content="株式会社Faber Company">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="片山＆前田のSNS情報はこちら！Webマーケティングのご相談、雑談、飲み会のお誘い、お待ちしております。ミエルカサービスの一覧（全７種）のご紹介も、併せてご覧ください。御社のWeb集客を徹底支援いたします。">
<meta property="og:site_name" content="株式会社Faber Company">
<meta property="og:image" content="https://mieru-ca.com/resources/images/icon/ogp.png?v1">
<meta property="og:url" content="https://mieru-ca.com/lp/marketingagenda/">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Mieruca_kun">
<link rel="shortcut icon" href="https://mieru-ca.com/resources/images/icon/favicon_mieruca_32x32.ico?v2">
<link rel="apple-touch-icon" href="https://mieru-ca.com/resources/images/icon/favicon_mieruca_32x32.ico?v2">
<link rel="stylesheet" href="files/user/css/style.css" media="all" title="no title" charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
@@include('app/ejs/_include/script.ejs')
</head>
<body>