<header class="l-header">
<div class="l-header__inner">
<h1 class="l-header__logo"><a href="https://mieru-ca.com/"><img src="https://mieru-ca.com/resources/images/common/logo.png" height="30" alt="MIERUCA"></a></h1>

<div class="p-text__tel">

<div class="p-text__top">
<p class="p-text__text__time">ご相談はお電話でもお気軽にどうぞ</p>
<p class="p-text__text__time__br"><span>受付時間</span>平日 午前 9:30 - 午後18:30</p>
<div class="p-two-btn-box">
<a href="https://fabercompany.satori.site/seminar-information" target="_blank" rel="noopener">▶ ウェビナー開催中</a>
<a href="https://mieru-ca.com/download/" target="_blank" rel="noopener">▶ お役立ち資料</a>
</div>
</div>

<div class="p-tel__top">
<span><i class="fa fa-phone" aria-hidden="true"></i></span>
<p>
<i>050-3645-7921</i>
<i class="p-tel__top__old">(03-5545-5230)</i>
</p>
</div>

</div>

</div>
</header>